.introduce-container{
    display: flex;
}
.introduce-container .icon-out span {
  color: #ffc451 !important;
  font-size: 40px;
}
.introduce-container .icon-bg span {
  background-color: #ffc451;
  padding: 10px;
  border-radius: 5px;
}
.introduce-text{
margin-left: 15px;
}
.introduce-text h4 {
    font-weight: bold;
  font-size: 18px;
}
.introduce-text p {
  color: #000;
}
